// Mixin for responsiv tekst
@mixin fp($property, $min, $max, $start:320, $end:1200, $clip: true, $source-unit:vw, $clip-at-start: true, $clip-at-end: true) {

  $multiplier: ($max - $min) / ($end - $start) * 100;
  $adder: ($min * $end - $max * $start) / ($end - $start);

  $formula: calc(#{$multiplier + $source-unit} + #{$adder + 0px});

  @if($clip and $clip-at-start){
    @media (max-width: #{$start + 0px}) {
      #{$property}: $min + 0px;
    }
  }

  @if($clip and $clip-at-end){
    @media (min-width: #{$end + 0px}) {
      #{$property}: $max + 0px;
    }
  }

  #{$property}: $formula;
}