@import "../../../assets/scss/variables";

footer {
  a {
    text-decoration: none;
    &:hover {
      border-bottom:1px solid white;
    }
  }

  .side-menu__item a {
    padding: 0.25em 0em;
  }

  .row {
    overflow: auto;
    padding: 1em;
    > p {
      font-weight: 900;
    }
  }

  ul {
    margin-bottom: .325em;
    li {
      padding: .25em 0 0 1.75em;
    }

    li:first-child {
      padding-top:.025em;
    }
  }


  h3 {
    font-weight: 600;
    margin-bottom: .25em;
    margin-top: .75em;
  }


  .column-4 ul {
    font-family: "Open sans", sans-serif;
    font-size: .875em;
    font-weight: 400;
  }


  .page-footer ul {
    margin-top: 0;
    padding-left: 0;
    list-style: none;
  }


  .page-footer .side-menu {
    margin-top: 1.375em;
    margin-bottom: initial;
    border: none;
  }


  .highlight--dark .side-menu__item a:after {
    background-image: none;
  }


  .highlight--dark .side-menu__item {
    border-bottom-color: transparent;
  }


  .page-footer__box {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    border: none;
    padding: 0;
  }

}

footer {
  padding-top: 3rem;
  display: flex;

  ul {
    margin: 0;
    padding: 0;
  }

  * > *, * {
    color: white;
    list-style: none;
    font-family: $open-sans;
  }


  h3 {
    font-size: 1.125rem;
    font-family: $telefon;
  }

  .column-4 {
    flex-basis: 25%;

    &:last-child {
      margin-bottom:1em;
    }
  }

  .column-custom {
    margin-top: -0.25em;
  }

}