<!DOCTYPE html>
<html lang="no">
<head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="//cloud.webtype.com/css/29f4b454-5ddc-454a-b1dc-ce911c228cd8.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="app"></div>
</body>
</html>
